<% content_for :page_title, 'Articles' %>

<div class="header">
  <h1>Articles</h1>
</div>

<div class="article listing">
  <ul>
    <%= render :partial => 'article', :collection => @articles, :as => :article %>
  </ul>
</div>
