$iphone-portrait: 400px;

@media screen and (max-width: $iphone-portrait) {
  .title.header {
    padding: 1em;
    overflow: hidden;
    h1 {
      float:  left;
    }
    p {
      float:  right;
      color:  #999;
    }
    h1, p {
      font-size:  1em;
    }
  }
}
